html body {
    padding: 0;
    margin: 0;
}

.header-container {
    width: 100%;
    height: 400px;
    background: #F39C12   ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F6F7;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right: 100px;
    /* background: green; */
    background-image: url(./assets/avatar.png);
    background-size: contain;
}


.simple-introd a {
    /* text-decoration: none; */
    color: #616A6B;
}

.introd {
    padding: 50px;
    color: #F39C12;
    margin: 0 auto;
    text-align: center;
}

.details-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.education {
    margin: 100px auto;
    width: 500px;
    padding: 20px;
    /* border: 1px solid #616A6B; */
    box-shadow:0 0 10px 1px #616A6B;
}

.research {
    margin: 100px auto;
    width: 500px;
    padding: 20px;
    /* border: 1px solid #616A6B; */
    box-shadow:0 0 10px 1px #616A6B;
}

.education p{
    text-indent: 35px;
    /* width: 300px; */
    text-align: left;
}

.research li {
    text-align: left;
}
